@media screen and (max-width:600px){
    .header-section{
       flex-direction: column;
      }
      .items-container{
       flex-direction: column;
       gap: 10px;
        
     }
     .explore-section {
     flex-direction: column;
    }
    .input-container .select-box {
       display: flex;
    
    }
    .popular-tour{ 
       flex-direction: column;
       margin-left: 100px;
    }
     /* choose your destination start */
     
 
}