@media screen and (max-width:600px){
    .header-section{
       flex-direction: column;
      }
      .items-container{
       flex-direction: column;
       gap: 10px;
        
     }
     .explore-section {
     flex-direction: column;
    }
    .input-container .select-box {
       display: flex;
    
    }
    .popular-tour{ 
       flex-direction: column;
       margin-left: 100px;
    }
     /* choose your destination start */
 
     
     /* why choose us start  */

     .hotel-heading{
     flex-direction: column;
        
    }
    .hotel-container {
     margin-left: 100px;
  }
     /* end  */

     /* start newsletter */
     .newsletter{
      flex-direction: column-reverse;
      width: 100%;
  }
  .newsletter-container{
   width: 100%;
   height: 422px;
  
 
}
.newsletter-img-content{
   width: 100%;
}

     /* end newsletter  */
 
}