@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');
body{
    font-family: 'Mulish', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Work Sans', sans-serif;
}
 /* start nav section  */
 .header-section{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .nav-container{
    min-height: 30px;
    width: 50%;
    display: flex;
 }
 .colr{
    color: #FF5400;

 }

 .items-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
 }
 .items-container a{
    text-decoration: none;
    color: #424247;
 }
 /* end nav section  */
