@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Mulish', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Work Sans', sans-serif;
}

/* start nav section  */
.header-section {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    min-height: 30px;
    width: 50%;
    display: flex;
}

.colr {
    color: #FF5400;

}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.items-container a {
    text-decoration: none;
    color: #424247;
}

/* end nav section  */
/* start header section  */
.explore-section {
    max-width: 1150px;
    margin: 0 auto;
    min-height: 400px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-container h2 {
    color: #FFF;
    font-size: 54px;
}

.explore-container p {
    color: #FFF;
    font-size: 16px;
}

.input-container .select-box {
    width: 100px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.50);

}

.input-container .primary-btn {
    width: 100px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

/* end header section  */
/* start popular tours */
.popular-tour {
    max-width: 1150px;
    margin: 100px auto;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 50%;
}

.text-container p,
ul,
p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.primary-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: white;
}

.tours-img-container {
    width: 50%;
}

/* end popular tour */
/* start your destination */
.your-destination {
    max-width: 1150px;
    margin: 0 auto;
    min-height: 1000px;
}

.text-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.row {
    max-width: 1150px;
    height: 300px;
    display: flex;
    gap: 20px;
    color: white;
}

.madives {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 5.png);
    border-radius: 16px;
    background-repeat: no-repeat;

}

.indonesia {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 8.png);
    border-radius: 16px;
    background-repeat: no-repeat;

}

.row1 {
    max-width: 1150px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
}

.srilanka {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 6.png);
    border-radius: 16px;
    background-repeat: no-repeat;
}

.North-america {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 7.png);
    border-radius: 16px;
    background-repeat: no-repeat;
}

.kashmir {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.row2 {
    max-width: 1150px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.Bangladesh {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 11.png);
    border-radius: 16px;
    background-repeat: no-repeat;
}

.Bandarban {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Rectangle\ 10.png);
    border-radius: 16px;
    background-repeat: no-repeat;
}


/* end your destination */
/* start why choose us  */
.why-chooseus {
    max-width: 1150px;
    margin: 100px auto;
    min-height: 900px;

}

.choose-container {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  
}

.hotel-heading{
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
    
}

.hotel-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-solid {
    font-size: 50px;
    color: #FF5400;
}

.hotel-container h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.hotel-container p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}


.service-container{
    width: 100%;
    height: 300px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.best-price-container{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}


/* end choose us  */